<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CRM Regression Test SUite">


  <test verbose="3" name="Admin test">
    <classes>
      <class name="TestScripts.AdminTests"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
